.signUp {
  display: flex;
  align-items: center;
  margin-left: 32px;
  width: 55px;
}

@media (max-width: 1200px) {
  .signUp {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .signUp {
    width: 80px;
    border: 1px solid #FFF;
    border-radius: 5px;
  }
}
